<h1>Contacts#index</h1>
<p>Find me in app/views/contacts/index.html.erb</p>

<table>
    <thead>
        <tr>
            <th>Nome</th>
    </thead>
    <tbody>

        <% @contacts.each do |contact|%>
        <tr>
            <td>
                <% contact.name%>
            </td>
        </tr>

        <% end %>

    </tbody>

</table>